@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
:root {
	--dark: #212529;
	--white: #e4e4e4;
	--orange: #ff7316;
	--red: #e64c41;
	--blue-green: #7c978e;

	--font: "JetBrains Mono", sans-serif;
	--default-font-size: 500;

	--box-shadow-param: 0px 0px 8px 0px;
	--left-right-margin: 0px 10px;
}
* {
	font-family: var(--font);
	font-weight: var(--default-font-size);
	margin: 0;
	padding: 0;
}
h1,
h2,
h3 {
	margin: 20px 0px;
	color: var(--white);
	font-weight: 700;
}
p {
	color: var(--white);
}
body {
	background-color: var(--dark);
	margin: var(--left-right-margin);
}
footer {
	display: block;
	bottom: 0;
	margin: 30px 0px;
	padding: 0;
	width: 100%;
}
footer p {
	color: var(--white);
	margin: 20px 20px;
}
/* NAVBAR */
nav {
	color: black;
	box-shadow: var(--box-shadow-param);
	z-index: 1;
}
nav .navbar-nav .nav-link,
.navbar-brand {
	font-family: var(--font);
	color: var(--white) !important;
	padding: 5px 20px;
}
nav a.navbar-brand.btn.btn-outline-light {
	border-radius: 12px !important;
}
nav a.navbar-brand.btn.btn-outline-light:hover {
	color: var(--dark) !important;
}
nav button.navbar-toggler,
nav button span i {
	border: none;
	border-radius: 30px;
	font-size: 20px;
	color: rgba(var(--white), 1);
	transition: background-color 0.5s;
}
nav button.navbar-toggler:focus {
	box-shadow: none;
}
input {
	width: 100%;
}
.btn.btn-success {
	background-color: var(--blue-green);
}
.card {
	border-radius: 15px;
	margin-top: 20px;
	color: black;
	background-color: var(--white);
	box-shadow: 0px 5px 10px 0px;
}
.card h3,
.card p,
.card button {
	color: var(--dark);
}
