<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>GeneBeat - Audio Visualization</title>

<link rel="icon" href="/public/assets/favicon/favicon.ico" type="image/x-icon" />

<!-- site styles -->
<link rel="stylesheet" href="/vendors/bs-coreui/src/css/bs-coreui.min.css" />
<link rel="stylesheet" href="/node_modules/select2/dist/css/select2.min.css" />
<link rel="stylesheet" href="/vendors/custom-select/custom-select.css" />
<link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" />
<link rel="stylesheet" href="/vendors/custom-slider/cslider.css" />
<link rel="stylesheet" href="/public/css/site.css" />

<!-- p5js library -->
<script src="/node_modules/p5/lib/p5.min.js"></script>
<script src="/node_modules/p5/lib/addons/p5.sound.min.js"></script>

<!-- -->
<script src="/vendors/jquery/jquery.min.js"></script>
<script defer src="/vendors/bs-coreui/src/js/bs-coreui.min.js"></script>
<script defer src="/node_modules/select2/dist/js/select2.min.js"></script>
<script defer src="/vendors/custom-slider/cslider.js"></script>

<!--  -->
<script type="module" src="/public/js/main.js"></script>
