<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>GeneBeat - Audio Visualization</title>

<!-- site styles -->
<link rel="stylesheet" href="/public/vendors/bs-coreui/bs-coreui.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="/public/css/site.css" />

<!-- p5js library -->
<script src="/public/vendors/p5js/p5.min.js"></script>
<script src="/public/vendors/p5js/p5.sound.min.js"></script>

<!-- -->
<script src="/public/vendors/jquery/jquery.min.js"></script>
<script defer src="/public/vendors/bs-coreui/bs-coreui.min.js"></script>

<!--  -->
<script defer src="/public/js/sketch.js"></script>
