<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('header') %>
	</head>
	<body>
		<div class="d-flex flex-column">
			<div id="sketchContainer">
				<button onclick="fullscreenCanvas()" class="p-3 position-absolute border-0">
					<i id="fullscreenIcon" class="fa-solid fa-up-right-and-down-left-from-center h5 m-0"></i>
				</button>
			</div>
			<div class="container">
				<div class="spacer"></div>
				<div class="row">
					<div class="col-md-12">
						<div class="text-center">
							<h1 class="text-uppercase">Gene Beat: Audio Visualizer</h1>
							<p>Built using the P5JS Library</p>
						</div>
					</div>
					<div class="col-md-12 text-center">
						<input id="backgColor" type="color" value="#ffffff" />
						<input id="spectrumColor" type="color" value="#2a2e33" />
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-md-6">
						<div class="card h-100 shadow border border-1 my-sm-2 my-md-0">
							<div class="card-body p-4">
								<div class="col-md-12">
									<h3 class="text-uppercase py-3">Audio Source</h3>
									<p>Please make sure to allow the use of microphone in this website to work. Pick an audio source to visualize.</p>
								</div>
								<div class="col-md-12 d-flex flex-column gap-3">
									<div class="d-flex gap-3">
										<div class="form-check">
											<input class="form-check-input" type="radio" name="audioSource" id="micSource" onclick="$('#audioControls').slideUp(200);" value="mic" checked />
											<label class="form-check-label" for="micSource">Microphone</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="radio" name="audioSource" id="fileSource" onclick="$('#audioControls').slideDown(200)" value="file" />
											<label class="form-check-label" for="fileSource">Audio File</label>
										</div>
									</div>
									<div id="audioControls" style="display: none">
										<div class="d-flex flex-column gap-3">
											<input type="file" class="form-control w-100" name="" id="audioFile" />
											<div class="d-flex gap-3 align-items-center">
												<div style="width: 80%">
													<div class="d-flex gap-3">
														<label id="songTrackTime" for="">00:00</label>
														<input id="songTrack" class="accent-color-primary w-100" type="range" step="1" value="0" />
													</div>
												</div>
												<div>
													<div class="btn-group" role="group">
														<button id="playBtn" onclick="playSong(this)" type="button" class="btn btn-outline-primary hvr-white">
															<i class="fa-solid fa-play"></i>
														</button>
														<button id="ReplayBtn" onclick="repeatSong()" type="button" class="btn btn-outline-primary hvr-white">
															<i class="fa-solid fa-rotate-right"></i>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="w-25">
										<button onclick="start()" class="btn btn-primary w-100 fw-bold text-white">Start</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-12">
								<div class="card h-100 shadow border border-1 my-sm-2 my-md-0">
									<div class="card-body p-4">
										<h3 class="text-uppercase">Customization</h3>
										<p>Design your own audio spectrum!</p>
										<div class="row my-2">
											<div class="col-md-4">
												<p>Frequency Bands</p>
											</div>
											<div class="col-md-8">
												<div class="d-flex gap-3">
													<input class="accent-color-primary w-100" id="freqBands" type="range" min="0" max="6" step="1" value="4" />
													<label id="freqBandsLabel" for="">128</label>
												</div>
											</div>
										</div>
										<div class="row my-2">
											<div class="col-md-4">
												<p>Smoothing</p>
											</div>
											<div class="col-md-8">
												<div class="d-flex gap-3">
													<input class="accent-color-primary w-100" id="freqBandSmoothing" type="range" min="0" max="0.9" step="0.1" value="0.8" />
													<label id="freqBandSmoothingLabel" for="">0.8</label>
												</div>
											</div>
										</div>
										<div class="row my-2">
											<div class="col-md-4">
												<p>Spectrum Style</p>
											</div>
											<div class="col-md-8">
												<select class="form-select" id="spectrumStyle" style="width: 100%">
													<option value="Wavelength">Wavelength</option>
													<option value="Rectangle">Rectangle</option>
													<option value="Ellipse">Ellipse</option>
													<option value="Rectangle Thin">Rectangle Thin</option>
													<option value="Hypno">Hypno</option>
													<option value="Intestine">Intestine</option>
													<option value="Mirror">Mirror</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="spacer"></div>
				<footer class="my-2">
					<hr style="color: white; margin: 0" />
					<p>&#169; GeneBit 2020</p>
				</footer>
			</div>
		</div>
	</body>
</html>
