<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('header') %>
	</head>
	<body>
		<%- include('sidebar') %>
		<main>
			<div class="vh-100 vw-100">
				<div class="d-flex flex-column h-100">
					<div id="sketchContainer" class="canvas-container w-100" style="height: 70%">
						<button onclick="toggleFullscreen()" class="btn bg-transparent border-0 shadow-none p-4 position-absolute">
							<i id="fullscreenIcon" class="fa-solid fa-up-right-and-down-left-from-center h4"></i>
						</button>
					</div>
					<div class="w-100 bottom-panel" style="height: 30%">
						<div class="container-fluid py-4">
							<div class="bottom-container d-flex justify-content-between mx-5 px-3 align-items-center">
								<div class="bottom-header d-flex gap-5">
									<img id="logo" class="mx-auto" src="/public/assets/svg/logo-light-mode.svg" alt="" width="100" />
									<div>
										<h1 class="text-white-dm">GeneBeat: Audio Visualizer</h1>
										<div class="color-customize d-flex gap-4">
											<p class="lead text-white-dm my-auto me-auto">Customize your colors.</p>
											<div class="d-flex gap-3">
												<div class="color-input">
													<input id="backgroundClrPicker" type="color" value="#ffffff" />
													<label for="backgroundClrPicker">Background</label>
												</div>
												<div class="color-input">
													<input id="spectrumClrPicker" type="color" value="#0e1c2e" />
													<label for="spectrumClrPicker">Spectrum</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div>
									<div onclick="toggleSidebar()" class="btn btn-primary btn-lg py-3 fw-bold text-white" id="sidebarToggle">
										Edit Source
										<img width="30" src="/public/assets/svg/sidebar-collapse.svg" class="ps-2" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<div class="position-absolute bottom-0 w-100" style="pointer-events: none">
			<img class="w-100 waves-hor-img" src="/public/assets/svg/waves-hor-light-mode.svg" alt="" />
		</div>
		<%- include('notification') %>
	</body>
</html>
