<div id="micAccessAlert" class="alert alert-danger position-absolute bg-white border border-2 border-danger top-0 end-0 m-3 d-flex gap-3 align-items-center" role="alert" style="display: none; opacity: 0">
	<i class="fa-solid fa-circle-exclamation text-danger h3 mb-0"></i>
	<p class="m-0 text-danger">
		Mic access is not allowed for this website.<br />
		Please make sure to enable it to use the site.
	</p>
</div>

<div id="invalidFileAlert" class="alert alert-danger position-absolute bg-white border border-2 border-danger top-0 end-0 m-3 d-flex gap-3 align-items-center" role="alert" style="display: none; opacity: 0">
	<i class="fa-solid fa-circle-exclamation text-danger h3 mb-0"></i>
	<p class="m-0 text-danger">
		Invalid file type.<br />
		Please select an audio (.mp3) file.
	</p>
</div>
