@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
	font-family: "Montserrat", sans-serif;
	transition: all 300ms ease-in-out;
}

body {
	overflow: hidden;
}

main {
	animation: fadeIn 500ms ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;
}

#sketchContainer {
	position: relative;
	width: 100%;
	height: 50vh;
}

.bg-dark {
	background-color: rgba(47, 52, 56, 1) !important;
}

.bg-secondary {
	background-color: rgba(55, 60, 63, 1) !important;
}

.spacer {
	padding: 3rem 0;
}

.hvr-white:hover i,
.hvr-white:focus i {
	color: white !important;
}

.sidebar {
	width: 30%;
	transform: translateX(100%);
	transition: transform 300ms ease-in-out;
	z-index: 1000;
	background-color: #f7f6f3;
}

.active {
	transform: translateX(0);
}

/*#region Color Picker */
input[type="color"] {
	padding: 0.3rem;
	border-radius: 5px;
	margin: 0;
	border: 2px solid var(--bs-dark);
	width: 8rem;
	height: 3rem;
}
input[type="color"]::-moz-color-swatch {
	border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
	border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

.color-input {
	position: relative;
	width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

.color-input label:hover,
.color-input input:hover {
	cursor: pointer;
}

.color-input label {
	font-size: 0.75rem;
	position: absolute;
	color: white;
	text-align: center;
	mix-blend-mode: difference;
}
/*#endregion  */

@media only screen and (max-width: 1366px) {
	.h1,
	h1 {
		font-size: calc(1.35rem + 0.5vw);
	}
	.lead {
		font-size: calc(0.7rem + 0.5vw);
	}
	.h3,
	h3 {
		font-size: calc(1rem + 0.1vw);
	}
	p,
	label {
		font-size: 0.7rem;
	}
	.card {
		padding: 0 !important;
	}
	.card-body {
		padding: 0.85rem 2rem !important;
	}
	.gap-3 {
		gap: 0.5rem !important;
	}
	.btn-lg {
		font-size: 0.8rem;
		padding: 0.35rem 1rem;
	}
	.sidebar {
		width: 40%;
	}
}

@media only screen and (max-width: 600px) {
	.sidebar {
		width: 100%;
	}

	#bottomContainer {
		flex-direction: column;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
